div.search-block {
  margin: 0 auto;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

a.search-link {
  color: #000 !important;
  text-decoration: none !important;
  display: block;
  font-weight: 600;
  color: #2d6cc0;
}

a.search-link:hover {
  text-decoration: underline !important;
}

a.all-results-link {
  color: #000 !important;
  text-decoration: none !important;
  display: block;
  font-weight: bold;
  text-align: right;
}

a.all-results-link::after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  line-height: 1;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  content: "\f105";
  position: relative;
  margin-left: 5px;
  color: #f1ab00;
  font-size: 24px;
  top: 1px;
}

a.search-link::after {
  display: none;
}

div.search-source-header {
  font-size: 18px;
  font-weight: bold;
  background-color: #F2F3F4;
  margin: 0;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

div.search-results {
  padding: 1em;
}