div.search-block {
  margin: 0 auto;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

a.search-link {
  color: #000 !important;
  text-decoration: none !important;
  display: block;
  font-weight: 600;
  color: #2d6cc0;
}

a.search-link:hover {
  text-decoration: underline !important;
}

a.all-results-link {
  color: #000 !important;
  text-decoration: none !important;
  display: block;
  font-size: 18px;
  font-weight: bold;
  float: right;
}

a.search-link::after {
  display: none;
}

div.search-source-title {
  font-size: 18px;
  font-weight: bold;
  background-color: #F2F3F4;
  margin: 0;
  padding: 1em;
}

div.search-results {
  padding: 1em;
}